<link rel="stylesheet" href="/css/habits.css">
<section>
    <h1>My Habits</h1>
    <button id="delete-btn">Delete Item</button>
</section>
<div id="habit-container">
    <ul>
        <%for(habit of habit_list){%>
            <li>
                <div class="checkbox-container">
                    <input type="checkbox" id="<%=habit._id%>"  class="checkbox">
                </div>
                <div class="habit-desc">
                    <div class="title"><%=habit.title%></div>
                    <div class="detail"><%=habit.details%></div>
                </div>
                <div class="button-container">
                    <div class="button"><i class="fa fa-check done" id="done-<%=habit.id%>" ></i></div>
                    <div class="button"><i class="fa fa-times not-done" id="not-done-<%=habit._id %>"></i></div>
                    <div class="button"><i class="fa fa-trash null-status" id="null-<%=habit._id %>"></i></div>
                </div>
            </li>
        <%}%>
    </ul>
</div>